include ./filmsInfo

mixin cardHover(kp, IMDb, id)
  .card-hover
    .card-hover__top
      span(id=`favorites-${id}`).icon__like
        svg(width='1em', height='1em', viewbox='0 0 18 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z', clip-rule='evenodd')
      span(id=`close-${id}`).icon__close
        svg(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', d='M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z')
          path(fill-rule='evenodd', d='M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z')
    .card-hover__center
      span.icon__play
        svg(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
          path(d='M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z')
    .card-hover__bottom
      span КП: #{kp}
      span IMDb: #{IMDb}

mixin card(info)
  a(href="#").card
    .card-img-wrapper
      img(src=info.img, alt="")
      +cardHover(info.kp, info.IMDb, info.id)
    .description
      .likes-block
        div(id=`like-${info.id}`).likes=info.like
        div(id=`dislike-${info.id}`).dislikes=info.dislike
      .film-name=info.name
      .film-info=info.description



.cards-film
  for film in filmsInfo
    +card(film)